/output/*
/checkpoints/*
/video_output/*
/stereo_output/*
/input_videos/*
/sog_output/*
/node_modules
/tools/output
/tools/sog_output
.DS_Store
/tools/node_modules
*.ply
/photos
/DSplat/SampleApp/App/ply_frames/thumbnails
